[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
spotipy = "*"
yt-dlp = "*"
mutagen = "*"
eyed3 = "*"
ffmpeg = "*"

[dev-packages]

[requires]
python_version = "3.10"
