astroid==2.15.6
async-timeout==4.0.3
attrs==23.1.0
black==21.12b0
Brotli==1.1.0
certifi==2023.7.22
charset-normalizer==3.2.0
click==8.1.7
coverage==7.3.1
dill==0.3.7
exceptiongroup==1.1.3
idna==3.4
iniconfig==2.0.0
isort==5.12.0
lazy-object-proxy==1.9.0
maturin==1.2.3
mccabe==0.7.0
mutagen==1.47.0
mypy-extensions==1.0.0
packaging==23.1
pathspec==0.11.2
platformdirs==3.10.0
pluggy==1.3.0
pycryptodomex==3.19.0
pyfakefs==4.7.0
pylint==2.17.5
pytest==7.2.0
pytest-cov==3.0.0
python-dotenv==0.19.2
redis==5.0.0
requests==2.31.0
six==1.16.0
spotipy==2.23.0
tomli==1.2.3
tomlkit==0.12.1
typing_extensions==4.8.0
urllib3==2.0.5
websockets==11.0.3
wrapt==1.15.0
yt-dlp==2023.7.6
